
module.exports = (phase, { defaultConfig }) => {
  /**
   * @type {import('next').NextConfig}
   */
  const nextConfig = {
    env: {
      alchemyUrl: "YOUR ALCHEMY URL",
      privateKey: "YOUR PRIVATE KEY",
      contractAddress: "YOUR CONTRACT ADDRESS",
    },
  };
  return nextConfig;
};
